body {
  margin: 0;
  padding: 0;
  background: #00a5be;
  font-family: system-ui;
  font-size: 16px;
}
.grid {
  display: grid;
  height: calc(100vh - 8em);
  padding: 4em;
  grid-template-columns: 50px 1fr 1fr 200px;
  grid-template-rows: 230px 100px 1fr 1fr;
  grid-column-gap: 6em;
  grid-template-areas: "asset-top logo logo social" "name character-name avatar avatar" "about character-description avatar avatar" "asset-bottom learn-more arrow other-line";
}
.logo {
  grid-area: logo;
  margin: 0 auto 2em;
  max-width: 250px;
  display: block;
}
.asset {
  writing-mode: vertical-rl;
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.arrow .asset.top {
  grid-area: asset-top;
}
.asset.bottom {
  grid-area: asset-bottom;
  justify-content: flex-end;
}
.social {
  grid-area: social;
  display: inline-flex;
  justify-content: center;
}
.social a {
 width: 2rem;
 padding: 1rem;
 cursor: pointer;
  
}
.social a img{
  width: 100%;
}
.navigation {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation.name {
  grid-area: name;
}
.navigation.about {
  grid-area: about;
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-transform: uppercase;
}

.character-name-container {
  display: flex;
  align-items: center;
  padding-inline-start: 1em;
}


.character-name-container div h2 {
  font-size: 35px;
}
.character-image-container {
  grid-area: avatar;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  grid-area: arrow;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 35px;
  cursor: pointer;
  width: auto;
}
.character-description-container {
  grid-area: character-description;
}
.learn-more {
  grid-area: learn-more;
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  text-transform: uppercase;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: left 170px bottom 5px;
  background-size: 150px;
}

/* .navigation {
  display: none;

  writing-mode: vertical-rl;
  position: absolute;
  left: 1em;
  height: calc(100vh - 6rem);
  bottom: 0;
  text-align: center;
  border: 1px solid red;
  margin: 0 1rem;
  text-transform: uppercase;

  justify-content: space-between;
  padding-inline: 3rem;
} */
.navigation-text {
  display: inline-flex;
  /* padding: 20px 0; */
  margin-inline: 50px;
}
.links {
  writing-mode: vertical-lr;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  display: inline-flex;
  margin-inline: 10px;
}
.line {
  width: 2px;
  height: 150px;
  background: black;
  display: inline-flex;
  margin-inline: 10px;
}
.img {
  margin: auto;
  padding: 0;
  width: 200px;
  margin-bottom: 1rem;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0;
}
.character-grid {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.character-name {
  font-size: 2rem;
}

.character-image {
  width: auto;
  max-width: 70%;
  margin: auto;
  border-radius: 50%;
}

.character-info-item {
  background-color: #685128;
  margin: 0.5rem;
  padding: 0.5em;
  color: white;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .character-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name image" "labels image";
  }

  .character-image {
    width: 300px;
    max-width: 70%;
    margin: auto;
    border-radius: 0;
  }
  .character-title {
    text-align: left;
    margin-bottom: 2rem;
  }

  .character-info-list {
    grid-area: labels;
    max-width: 300px;
    text-align: left;
  }
  .character-info-item {
    padding: 1rem;
    margin: 1rem;
    font-size: 25px;
    font-weight: 400;
  }
}
